version: '3.8'

# 1. ON SÉPARE LES VARIABLES D'ENVIRONNEMENT COMMUNES
x-airflow-env: &airflow-env
  AIRFLOW__CORE__EXECUTOR: LocalExecutor
  AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
  AIRFLOW__CORE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
  AIRFLOW__CORE__LOAD_EXAMPLES: 'False'
  AIRFLOW__WEBSERVER__WORKERS: '2'
  AIRFLOW__WEBSERVER__WEB_SERVER_WORKER_TIMEOUT: '300'

# 2. ON DÉFINIT LA RECETTE DE BASE AIRFLOW
x-airflow-common: &airflow-common
  build: .
  environment: *airflow-env
  volumes:
    - ./dags:/opt/airflow/dags
    - ./src:/opt/airflow/src
    - ./data:/opt/airflow/data
  depends_on:
    postgres:
      condition: service_healthy

services:
  # LE CERVEAU D'AIRFLOW
  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "airflow"]
      interval: 5s
      retries: 5

  # INITIALISATION (Avec fusion des variables !)
  airflow-init:
    <<: *airflow-common
    command: version
    environment:
      <<: *airflow-env # Fusionne la connexion Postgres
      _AIRFLOW_DB_UPGRADE: 'true' # Ajoute ses propres règles
      _AIRFLOW_WWW_USER_CREATE: 'true'
      _AIRFLOW_WWW_USER_USERNAME: admin
      _AIRFLOW_WWW_USER_PASSWORD: admin

  # L'INTERFACE WEB AIRFLOW
  airflow-webserver:
    <<: *airflow-common
    command: webserver
    ports:
      - "8090:8080" # On garde la porte 8090 pour éviter Thingsboard !
    depends_on:
      airflow-init:
        condition: service_completed_successfully

  # LE PLANIFICATEUR AIRFLOW
  airflow-scheduler:
    <<: *airflow-common
    command: scheduler
    depends_on:
      airflow-init:
        condition: service_completed_successfully

  # LA BASE DE DONNÉES FINALE
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.10.2
    environment:
      discovery.type: single-node
      xpack.security.enabled: 'false'
      ES_JAVA_OPTS: "-Xms512m -Xmx512m" # <--- LA BRIDE EST ICI
    ports:
      - "9200:9200"

  # LE DASHBOARD
  kibana:
    image: docker.elastic.co/kibana/kibana:8.10.2
    ports:
      - "5601:5601"
    environment:
      ELASTICSEARCH_HOSTS: http://elasticsearch:9200
    depends_on:
      - elasticsearch