# Stockage S3
boto3

# Calcul et transformation des données
pyspark>3.4.0
pandas>1.5.0

# Client Elasticsearch
elasticsearch>=8.0.0,<9.0.0
apache-airflow-providers-elasticsearch>2.0.0

# Appels HTTP vers les APIs
requests>2.0.0